<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeHeap - Share your suggestions, advice and how can we improve ourselfs. Thank You!</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Share your point of view, suggestions and advice how we can improve ourself to provide you better experience.">
    <meta name="keywords" content="Share your Experience, Advice, Suggestion, codeheap, Codeheap, Free e-books download, Free handwritten notes download, Project source code free download, Upload, Best titorial videos, B.tech notes, Engineering notes, B.tech projects, Engineering projects">
    <link rel="icon" type="image/x-icon" href="images/codeheap.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <nav id="navbar">
        <div style="display: flex;">
            <a id="logo" href="/" class="center-x"><img id="logoImage" src="images/logo.png" alt="Logo"></a>
            <span id="ham" class="center-x" onclick="hamOpen()">
                <span id="bar"></span>
            </span>
        </div>
        <ul id="nav">
            <li class="center-y link">
                <a href="/" class="center-x">Home</a>
                <span></span>
            </li>
            <li class="link center-y">
                <a href="/#projectSection" class="center-x">Projects</a>
                <span></span>
            </li>
            <li class="link center-y">
                <a href="/#notesSection" class="center-x">Notes</a>
                <span></span>
            </li>
            <li class="link center-y">
                <a href="/#videosSection" class="center-x">Videos</a>
                <span></span>
            </li>
            <li class="link center-y">
                <a href="/#aboutSection" class="center-x">About Us</a>
                <span></span>
            </li>
            <li class="link center-y link-active">
                <a href="#" class="center-x">Contact Us</a>
                <span></span>
            </li>
        </ul>
        <div id="signUp" class="center-x">
            <a href="/login" class="center-x">Sign in</a>
        </div>
    </nav>
    <div onclick="backToTop()" id="backToTopBtn" class="center-x"><img
            src="https://cdn-icons-png.flaticon.com/512/992/992534.png" alt="backToTop"></div>
    <aside class="menuContent">
        <div id="menu">
            <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Home">Home</a>
            <a href="/#projectSection"><img src="https://cdn-icons-png.flaticon.com/512/1336/1336989.png"
                    alt="Projects">Projects</a>
            <a href="/#notesSection"><img src="https://cdn-icons-png.flaticon.com/512/3075/3075908.png"
                    alt="Notes">Notes</a>
            <a href="/#videosSection"><img src="https://cdn-icons-png.flaticon.com/512/2991/2991195.png"
                    alt="Videos">Videos</a>
            <a href="/#aboutSection"><img src="https://cdn-icons-png.flaticon.com/512/1187/1187544.png" alt="Blog">About
                Us</a>
            <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2343/2343522.png" alt="ContactInfo">Contact
                Us</a>
        </div>
    </aside>
    <section>
        <div class="imageContainer"></div>
        <div class="contactContainer">
            <h1>Get in touch</h1>
            <form action="/contact">

                <label for="fullname">Name</label>
                <input type="text" id="fullname" name="Name" placeholder="Your name.." minlength="5" required>

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="Email" placeholder="Your Email..." minlength="10">

                <label for="subject">Message</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"
                    minlength="20" maxlength="200"></textarea>

                <input type="submit" value="Submit">

            </form>
        </div>
    </section>
    <footer>
        <p>For more information contact us at : codeatcodeheap@gmail.com</p>
        <p>&#169; 2022 by Ashwani/Rajan. All rights reserved </p>
    </footer>
    <script src="js/navbar.js"></script>
    <script src="js/contact.js"></script>
</body>

</html>