<!DOCTYPE html>
<html lang="en">

<head>
  <title>CodeHeap - Download Free Source Codes of Projects, Tutorial Videos and E-Books and Handwritten Notes</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="HTML, Python, CSS, SQL, JavaScript, How to, PHP, Java, C, C++, C#, jQuery, Bootstrap, Node.js, React, Angular, R, AI, Data Science, Code Game, Tutorials, Programming, Web Development, Learning, Courses, Lessons, References, Examples, Learn to code, Source code, Demos, Tips, Website, Free, Share, Upload, E-books, Handwritten notes, Enginnering, B.tech, In hindi, Easy to understand, Free download">
  <meta name="description" content="Download source codes of industrial level projects that will make your resume look the part and land you a job of your liking and upload your projects to get noticed by recruiters on world wide web, watch and download tutorial videos on avrious programming languages that will help you in depth basics and advanced concepts and handwritten notes and e-books that will save your hours of time of searching on google to find easy to underatnd notes.">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="images/codeheap.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/landing.css">
  <link rel="stylesheet" href="css/navbar.css">
</head>

<body>
  <nav id="navbar">
    <div style="display: flex;">
      <a id="logo" href="/home" class="center-x"><img id="logoImage" src="images/logo.png" alt="Logo"></a>
      <span id="ham" class="center-x" onclick="hamOpen()">
        <span id="bar"></span>
      </span>
    </div>
    <ul id="nav">
      <li class="center-y link link-active">
        <a href="/home" class="center-x">Home</a>
        <span></span>
      </li>
      <li class="link center-y">
        <a href="/home#projectSection" class="center-x">Projects</a>
        <span></span>
      </li>
      <li class="link center-y">
        <a href="/home#notesSection" class="center-x">Notes</a>
        <span></span>
      </li>
      <li class="link center-y">
        <a href="/home#videosSection" class="center-x">Videos</a>
        <span></span>
      </li>
      <li class="link center-y">
        <a href="/home#aboutSection" class="center-x">About Us</a>
        <span></span>
      </li>
      <li class="link center-y">
        <a href="/contact" class="center-x">Contact Us</a>
        <span></span>
      </li>
    </ul>
    <div id="signUp" class="center-x">
      <a href="/login" class="center-x">Sign in</a>
    </div>
  </nav>
  <div onclick="backToTop()" id="backToTopBtn" class="center-x"><img
      src="images/backtotop.png" alt="totop"></div>
  <aside class="menuContent">
    <div id="menu">
      <a href="/home" class="active"><img src="images/home.png" alt="Home">Home</a>
      <a href="/home#projectSection"><img src="images/projects.png"
          alt="Projects">Projects</a>
      <a href="/home#notesSection"><img src="images/book.png" alt="Notes">Notes</a>
      <a href="/home#videosSection"><img src="images/vid.png"
          alt="Videos">Videos</a>
      <a href="/home#aboutSection"><img src="images/about.png" alt="Blog">About Us</a>
      <a href="/contact"><img src="images/reach.png" alt="ContactInfo">Contact Us</a>
    </div>
  </aside>
  <section id="homeSection" class="container center-y">
    <header class="headingBg">
      <div class="heading center-y">
        <h1>Welcome to CodeHeap</h1>
        <h3>Code, Eat, Sleep, CodeHeap and Repeat!</h3>
        <p>Build your projects and introduce them to the whole wide world!. Share and discuss your source codes with
          your
          friends, peers and teachers of your college. Enrich your experience and knowledge through CodeHeap now!.</p>
      </div>
    </header>
    <div class="slideContainer">
      <div id="cardBox" class="cardBox">
        <div class="card center-x">
          <img class="cardImage" src="images/project.gif" alt="Free projects source codes and upload them for better experience">
          <div class="cardContent center-y">
            <p>Upload your projects on CodeHeap to enhance your experience and influence in the community.</p>
          </div>
        </div>
        <div class="card center-x">
          <img class="cardImage" src="images/video.gif" alt="Watch Free tutorial videos on various programming languages">
          <div class="cardContent center-y">
            <p>1000+ tutorial videos on various programming languages and subjects such as Pyhon, JavaScript,
              Django, DSA,
              Network Security, etc.</p>
          </div>
        </div>
        <div class="card center-x">
          <img class="cardImage" src="images/notes.gif" alt="Free E-books and Handwritten notes download!">
          <div class="cardContent center-y">
            <p>E-books as well as handwritten notes on every subject of Computer Science & Enginnering.</p>
          </div>
        </div>
        <div id="first-clone" class="card center-x">
          <img class="cardImage" src="images/project.gif" alt="Projects">
          <div class="cardContent center-y">
            <p>Upload your projects on CodeHeap to enhance your experience and influence in the community.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="signUpBtn">
      <div class="explore">
        <a href="/signup" class="center-x">Sign up to explore!</a>
      </div>
    </div>
  </section>
  <section class="projectContainer" id="projectSection">
    <h1>PROJECTS</h1>
    <div>
      <div class="template">
        <span><img src="images/expose.png" alt="Landing page design source code of Expose website!"></span>
        <h2>Expose</h2>
      </div>
      <div class="template">
        <span><img src="images/clockapp.png" alt="Analogue Clock app design using canvas, stopwatch and alarm features. Free source code."></span>
        <h2>Clock-App</h2>
      </div>
      <div class="template">
        <span><img src="images/nextgen.png" alt="Landing page design source code of NEXTGEN website!"></span>
        <h2>NextGen</h2>
      </div>
    </div>
  </section>
  <section class="notesContainer" id="notesSection">
    <h1>E-BOOKS</h1>
    <div>
      <div class="template">
        <span><img src="images/dm.jpg" alt="Easy to undertand Descrete Mathematics E-books and Handwritten notes for engineering."></span>
        <h2>Descrete Maths</h2>
      </div>
      <div class="template">
        <span><img src="images/dsa.jpg" alt="Easy to undertand Data Structures and Algorithms E-books and Handwritten notes for engineering."></span>
        <h2>DSA</h2>
      </div>
      <div class="template">
        <span><img
            src="images/os.jpg"
            alt="Operating system E-books and Handwritten notes free download!"></span>
        <h2>Operating System</h2>
      </div>
    </div>
  </section>
  <section id="videosSection" class="videosContainer">
    <h1>VIDEOS</h1>
    <div>
      <div class="template">
        <span><img src="images/webdev.jpg" alt="Web Development tutorial videos in hindi and english."></span>
        <h2>Web Development</h2>
      </div>
      <div class="template">
        <span><img
            src="images/python.jpg"
            alt="Python and Django tutorial videos in hindi and english."></span>
        <h2>Python</h2>
      </div>
      <div class="template">
        <span><img src="images/cpp.jpg"
            alt="C++ tutorial videos in hindi and english for beginners."></span>
        <h2>C++</h2>
      </div>
    </div>
  </section>
  <section class="profileContainer" id="aboutSection">
    <div class="profileCard">
      <span><img src="images/ashwani.jpeg" alt="Profile picture of Ashwani Gupta - Web Developer"></span>
      <h1>ASHWANI GUPTA</h1>
      <h2>WEB DEVELOPER</h2>
      <div class="profileLinks">
        <a href="https://github.com/"><img src="images/git.png" alt="git"></a>
        <a href="https://accounts.google.com/b/1/AddMailService"><img
            src="images/msg.png" alt="email"></a>
        <a href="https://www.instagram.com/"><img src="images/ins.png"
            alt="instagram"></a>
      </div>
    </div>
    <div class="profileCard">
      <span><img src="images/rajan.jpg" alt="Profile picture of Rajan Singh - Web Developer"></span>
      <h1>RAJAN SINGH</h1>
      <h2>WEB DEVELOPER</h2>
      <div class="profileLinks">
        <a href="https://github.com/"><img src="images/git.png" alt="git"></a>
        <a href="https://accounts.google.com/b/1/AddMailService"><img
            src="images/msg.png" alt="email"></a>
        <a href="https://www.instagram.com/"><img src="images/ins.png"
            alt="instagram"></a>
      </div>
    </div>
  </section>
  <footer>
    <p>For more information contact us at : codeatcodeheap@gmail.com</p>
    <p>© 2022 Copyright: codeheap.co.in</p>
  </footer>
  <script src="js/navbar.js"></script>
  <script src="js/landing.js"></script>
</body>

</html>