<!DOCTYPE html>
<html lang="en">

<head>
    <title>Codeheap - Sign Up</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="codeheap, Codeheap, Free e-books download, Free handwritten notes download, Project source code free download, Upload, Best titorial videos, B.tech notes, Engineering notes, B.tech projects, Engineering projects">
    <meta name="description"
        content="Codeheap is a platform that provide you with free source codes of professional projects that might land you a job more often than not. We also free handwritten notes and e-books, keeping in mind your academic performance as well. We also provide best of the best filtered videos across various oyher platforms such as Youtube, Udemy, Unacademy, etc., so that you don't have to waste your precious time surfing the internet sorting that out.">
    <link rel="shortcut icon" href="images/codeheap.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>
    <nav id="navbar">
        <div style="display: flex;">
            <a id="logo" href="/home" class="center-x"><img id="logoImage" src="images/logo.png" alt="Logo"></a>
            <span id="ham" class="center-x" onclick="hamOpen()">
                <span id="bar"></span>
            </span>
        </div>
        <ul id="nav">
            <li class="center-y link link-active">
                <a href="/home" class="center-x">Home</a>
                <span></span>
            </li>
            <li class="link center-y">
                <a href="/home#projectSection" class="center-x">Projects</a>
                <span></span>
            </li>
            <li class="link center-y">
                <a href="/home#notesSection" class="center-x">Notes</a>
                <span></span>
            </li>
            <li class="link center-y">
                <a href="/home#videosSection" class="center-x">Videos</a>
                <span></span>
            </li>
            <li class="link center-y">
                <a href="/home#aboutSection" class="center-x">About Us</a>
                <span></span>
            </li>
            <li class="center-y">
                <a href="/contact" class="center-x">Contact Us</a>
                <span></span>
            </li>
        </ul>
        <div id="signUp" class="center-x">
            <a href="/login" class="center-x">Sign in</a>
        </div>
    </nav>
    <div class="alert alert-success" role="alert"><strong>Success!</strong>This is alert</div>
    <div onclick="backToTop()" id="backToTopBtn" class="center-x"><img
            src="images/backtotop.png" alt="totop"></div>
    <aside class="menuContent">
        <div id="menu">
            <a href="/home"><img src="images/home.png" alt="Home">Home</a>
            <a href="/home#projectSection"><img src="images/projects.png"
                    alt="Projects">Projects</a>
            <a href="/home#notesSection"><img src="images/book.png"
                    alt="Notes">Notes</a>
            <a href="/home#videosSection"><img src="images/vid.png"
                    alt="Videos">Videos</a>
            <a href="/home#aboutSection"><img src="images/about.png" alt="Blog">About
                Us</a>
            <a href="/contact"><img src="images/reach.png"
                    alt="ContactInfo">Contact
                Us</a>
        </div>
    </aside>
    <div style="display: flex; height: auto;">
        <div class="snippetContainer center-y">
            <div class="codeSnippet">
                <div id="language"></div>
                <div class="codeCard">
                    <pre style="padding: 1rem;"><code id="statement" class="language-python"></code></pre>
                </div>
            </div>
        </div>
        <div class="container center-y">
            <h1>Sign Up</h1>
            <p style="padding: 8px 8px; text-align: center;">Please Safely remember/store your password, you will not be able to change it later.</p>
            <form id="signupForm" action="/signup" method="post" autocomplete="on" class="center-y"
                style="width: 100%;">
                <div class="inputField">
                    <input type="text" id="firstName" name="firstName" placeholder="First name"
                        title="Enter your first name" minlength="3" required>
                    <input type="text" id="lastName" name="lastName" placeholder="Last Name"
                        title="Enter your last name" minlength="3" required>
                </div>
                <div class="inputField">
                    <input type="email" id="userEmail" name="userEmail" placeholder="Email" title="Enter your email"
                        required onblur="emailValidation()">
                </div>
                <div class="inputField">
                    <input type="tel" id="userPhone" name="userPhone" placeholder="Mobile number"
                        title="Enter your Mobile number" maxlength="10" minlength="10" required>
                </div>
                <div class="inputField">
                    <input type="password" name="userPassword" id="userPassword" placeholder="Password"
                        title="Enter your password" size="16" minlength="8" maxlength="16" required
                        oninput="passwordValidation()" onfocus="passwordInfo()">
                </div>
                <div class="inputField">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm"
                        title="Re-enter your password" size="16" minlength="8" maxlength="16" required disabled
                        oninput="passwordMatch()">
                </div>
                <div class="passwordVisibility">
                    <input type="checkbox" id="passwordVisibility" value="showPassword" onchange="toggleVisibility()">
                    <label for="passwordVisibility">Show password</label>
                </div>
                <input id="signup" type="submit" value="Sign up">
            </form>
        </div>
    </div>
    <footer>
        <p>For more information contact us at : codeatcodeheap@gmail.com</p>
        <p>&#169; 2022 by Ashwani/Rajan. All rights reserved </p>
    </footer>
    <script src="js/navbar.js"></script>
    <script src="js/signup.js"></script>
</body>

</html>