body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: scroll !important;
}

.messageSender {
    position: fixed;
    background-color: #1a1a1a;
    width: 100%;
    bottom: 0rem;
    left: 0;
    margin: 0 0 !important;
}

.chat-message-left,
.chat-message-right, .chat-message-middle {
    display: flex;
    flex-shrink: 0;
    margin-top: 3px !important;
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.chat-message-middle {
    margin: 0 auto;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}