* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parentDiv {
    min-height: 20rem; 
    background: url('https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80') no-repeat center scroll; 
    background-size: cover;
}

.childDiv {
    min-height: 20rem;
    padding: 2rem;
    height: 100%;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.childDiv>p {
    font-family: monospace;
    font-size: 1.25rem;
}

.projectLink {
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
    padding: 8px;
    color: aliceblue;
    background: linear-gradient(to bottom left, #4301FF, #7e00f5);
    opacity: 0.9;
}

.projectLink:hover {
    color: aliceblue;
    opacity: 1;
}

@media only screen and (max-width:768px) {
    .childDiv {
        padding: 1rem;
    }

    .childDiv>p {
        font-family: monospace;
        font-size: 1.125rem;
    }   
}

@media only screen and (max-width: 478px) {
    .parentDiv {
        min-height: 15rem;
    }

    .childDiv {
        min-height: 15rem;
        padding: 1rem;
    }

    .childDiv>p {
        font-size: 14px;
    }   
}