* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parentDiv {
    min-height: 20rem;
    background: url('../images/bg-1.jpg') no-repeat center scroll;
    background-size: cover;
}

.childDiv {
    min-height: 20rem;
    padding: 2rem;
    height: 100%;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.childDiv>p {
    font-family: monospace;
    font-size: 1.25rem;
}

.listLink {
    text-align: center;
    text-decoration: none;
    padding: 8px;
    color: aliceblue;
    background: linear-gradient(to bottom left, #4301FF, #7e00f5);
    opacity: 0.9;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.listLink:hover {
    color: aliceblue;
    opacity: 1;
}

.noteCard>div>.card-body {
    max-width: 100%;
    height: 17rem;
    padding: 0 !important;
    overflow: hidden;
}

.noteCard>div>.card-body>img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0 !important;
    transition: all 0.5s ease-in-out;
}

.noteCard>div>.card-body>img:hover {
    transform: scale(1.05);
}

.noteCard>div>h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px 2px !important;
    margin: 0 0 !important;
    background-color: greenyellow;
}

.noteCard>.card-footer {
    margin: 0 1px !important;
    background-color: rgb(162, 0, 255);
    color: azure;
}

@media only screen and (max-width:768px) {
    .childDiv {
        padding: 1rem;
    }

    .childDiv>p {
        font-family: monospace;
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 478px) {
    .noteCard>div>.card-body {
        width: 100%;
        height: 15rem;
        padding: 0 !important;
    }

    .parentDiv {
        min-height: 15rem;
    }

    .childDiv {
        min-height: 15rem;
        padding: 1rem;
    }

    .childDiv>p {
        font-size: 14px;
    }
}