.parentDiv {
    min-height: 20rem;
    background: url('../images/bg-1.jpg') no-repeat center scroll;
    background-size: cover;
}

.childDiv {
    min-height: 20rem;
    padding: 2rem;
    height: 100%;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.childDiv>p {
    font-family: monospace;
    font-size: 1.25rem;
}

.listLink {
    text-align: center;
    text-decoration: none;
    padding: 8px;
    color: aliceblue;
    background: linear-gradient(to bottom left, #4301FF, #7e00f5);
    opacity: 0.9;
}

.listLink:hover {
    color: aliceblue;
    opacity: 1;
}

.noteCard>div>.card-body {
    max-width: 100%;
    height: 17rem;
    padding: 0 !important;
    overflow: hidden;
}

.noteCard>div>.card-body>img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 0 !important;
    transition: all 0.5s ease-in-out;
}

.noteCard>div>.card-body>img:hover {
    transform: scale(1.05);
}

@media only screen and (max-width:768px) {
    .childDiv {
        padding: 1rem;
    }

    .childDiv>p {
        font-family: monospace;
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 478px) {
    .noteCard>div>.card-body {
        height: 15rem;
    }

    .parentDiv {
        min-height: 15rem;
    }

    .childDiv {
        min-height: 15rem;
        padding: 1rem;
    }

    .childDiv>p {
        font-size: 14px;
    }
}